<section id="twitter">
<p> Here's your tweet : <%= @tweets[0] %> </p>
<p> Here's your tweet : <%= @tweets[1] %> </p>
<p> Here's your tweet : <%= @tweets[2] %> </p>
<p> Here's your tweet : <%= @tweets[3] %> </p>
<p> Here's your tweet : <%= @tweets[4] %> </p>
</section>
