<!-- Successfully redirects but
Needs persisting data in order to display pages
 -->

<% case %>
  <% when @feed_index == 0 %>
    <section id="twitter">
  <% if @twitter_toggle == "on" %>
  <h1>Tweets Concerning <%= @obsession %> </h1>
    <ul>
      <li>  <%= @tweets[0] %> </li>
      <li>  <%= @tweets[1] %> </li>
      <li>  <%= @tweets[2] %> </li>
      <li>  <%= @tweets[3] %> </li>
      <li>  <%= @tweets[4] %> </li>
    </ul>
  <% else %>
  <% end %>
    </section>

  <% when @feed_index == 1 %>
    <section id="times">
      <% if @times_toggle == "on" %>
      <h1>Relevant News Articles</h1>
      <p>
        <a href="<%= @times_article_url %>" ><%= @times_headline %></a>
         </br>
         <%= @times_snippet %>
      </p>
      <% else %>
      <% end %>
    </section>
  <% when @feed_index == 2 %>
    <section id="trending">
      <% if @graph_toggle == "on" %>
        <h1> <%= @obsession %> Trending </h1>
    <!-- displays obsession graph -->
        <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=<%= @obsession %>&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
      <% else %>
      <% end %>
    </section>
 <!-- etc etc -->
<% end %>
