<section id="times">
  <h1>Relevant News Articles</h1>
</br></br></br>
  <p>
    <a href="<%= $redis[:times_article_url] %>" ><%= $redis[:times_headline] %></a>
     </br>
     <%= $redis[:times_snippet] %>
   </br></br>
     <a href="<%= $redis.get(:times_article_url_1) %>" ><%= $redis.get(:times_headline_1) %></a>
      </br>
      <%= $redis.get(:times_snippet_1) %>
    </br></br>
      <a href="<%= $redis.get(:times_article_url_2) %>" ><%= $redis.get(:times_headline_2) %></a>
      </br>
      <%= $redis.get(:times_snippet_2) %>
    </br></br>
     <a href='/feeds/times'>The Times</a>
  </p>
</section>
