
    <section id="twitter">
  <h1>Tweets</h1>
    <ul>
      <li>  <%= @tweets[0] %> </li>
      <li>  <%= @tweets[1] %> </li>
      <li>  <%= @tweets[2] %> </li>
      <li>  <%= @tweets[3] %> </li>
      <li>  <%= @tweets[4] %> </li>
    </ul>
    </section>
