
    <section id="twitter">
  <h1>Tweets Concerning <%= $redis.get(:obsession).capitalize %> </h1>
</br></br></br>
    <ul>
      <li>  <%= @tweets[0] %> </li>
      <li>  <%= @tweets[1] %> </li>
      <li>  <%= @tweets[2] %> </li>
      <li>  <%= @tweets[3] %> </li>
      <li>  <%= @tweets[4] %> </li>
      <li>  <%= @tweets[5] %> </li>
      <li>  <%= @tweets[6] %> </li>
      <li>  <%= @tweets[7] %> </li>
      <li>  <%= @tweets[8] %> </li>
      <li>  <%= @tweets[9] %> </li>
    </ul>
    </section>
