<a href="/profile/edit">Edit Profile</a>
<h1> Hello <%= $redis.get(:username).capitalize %>, your obsession is <%= $redis.get(:obsession).capitalize %>. </h1>

</br></br></br>

<section id="twitter">
  <% if $redis.exists("twitter_toggle")  %>
  <h1>Tweets</h1>
  </br>

  <ul>
    <li>  <%=  @tweets[0] %> </li>
    <li>  <%=  @tweets[1] %> </li>
    <li>  <%=  @tweets[2] %> </li>
    <li>  <%=  @tweets[3] %> </li>
    <li>  <%=  @tweets[4] %> </li>
    <li>  <%=  @tweets[5] %> </li>
    <li>  <%=  @tweets[6] %> </li>
    <li>  <%=  @tweets[7] %> </li>
    <li>  <%=  @tweets[8] %> </li>
    <li>  <%=  @tweets[9] %> </li>
  </ul>
  <a href='/feeds/twitter'>Twitter</a>
  <% end %>

</section>
</br></br>
<section id="times">
  <% if $redis.exists("times_toggle") %>
    <h1>Relevant News Articles</h1>
  </br>
    <p>
      <a href="<%= $redis.get(:times_article_url) %>" ><%= $redis.get(:times_headline) %></a>
      </br>
      <%= $redis.get(:times_snippet) %>
    </br></br>
      <a href="<%= $redis.get(:times_article_url_1) %>" ><%= $redis.get(:times_headline_1) %></a>
      </br>
      <%= $redis.get(:times_snippet_1) %>
    </br></br>
      <a href="<%= $redis.get(:times_article_url_2) %>" ><%= $redis.get(:times_headline_2) %></a>
      </br>
      <%= $redis.get(:times_snippet_2) %>
    </br></br>
      <a href='feeds/times'>The Times</a>
    </p>
  <% end %>
</section>
</br></br></br>

<section id="trending">
  <% if $redis.exists("graph_toggle") %>
  <h1> <%= $redis.get(:obsession).capitalize %> Trending </h1>
</br>
    <!-- displays ob$redis graph -->
    <script type="text/javascript" src="//www.google.com/trends/embed.js?hl=en-US&q=<%= $redis.get(:obsession) %>&cmpt=q&content=1&cid=TIMESERIES_GRAPH_0&export=5&w=500&h=330"></script>
    </br>
    <a href='/feeds/graph'>Google Trending</a>
  <% end %>
</section>
</br></br></br>
<section id="weather">
  <% if $redis.exists("weather_toggle") %>
    <p>Current temperature in <%= $redis.get(:location) %> is: <%= $redis.get(:temp_f) %> </p>
  <% end %>
</section>
