
    <section id="twitter">
  <h1>Tweets</h1>
    <ul>
      <li>  <%= session[:tweets][0] %> </li>
      <li>  <%= session[:tweets][1] %> </li>
      <li>  <%= session[:tweets][2] %> </li>
      <li>  <%= session[:tweets][3] %> </li>
      <li>  <%= session[:tweets][4] %> </li>
    </ul>
    </section>
